* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.wrapper {
    position: absolute;
    width: 17em;
    height: 100%;
    top: 0;
    overflow: hidden;
}

.sidebar {
    position: fixed;
    background: #89BAD9;
    width: 13em;
    height: 100%;
    font-weight: 400;
    font-size: 1.2em;
    overflow: auto;
    padding-bottom: 6em;
    z-index: 9;
}

h2 a {
    color: black;
    font-size: 1.1em;
    font-weight: 600;
    width: 100%;
    display: block;
    padding: 0.75em 1em;
    text-transform: uppercase;
    margin-top: 0.6em;
    text-align: center;
    text-decoration: none;
}

.header a {
    text-decoration: none;
}

.sidebar img {
    display: block;
    margin-left: auto; 
    margin-right: auto;
    width: 175px;
    height: 175px;
}

.sidebar h4 {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1.3em;
    font-weight: 400;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.sidebar ul {
    display: block;
}

.sidebar li {
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
    width: 100%;
    font-family: 'Karla', sans-serif;
}

.sidebar li a {
    color: #000;
    display: block;
    font-size: 1.1em;
    padding: 1.05em 1em;
    position: relative;
}

.sidebar li a:hover {
    background-color: #76afd3;
}

.sidebar i {
    font-size: 1.3em;
    padding-right: 0.5em;
    width: 9em;
    display: inline;
    vertical-align: middle;
}

.wrapper .sidebar .social_media {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.wrapper .sidebar .social_media a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.main_content {
    margin: auto;
    width: 50%;
    padding: 10px;
}