/* ----------------------- UNIVERSAL STYLES ----------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    width: 70vw;
    padding: 10px;
    margin-left: 25vw;
}

.main-title {
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.heading {
    margin-top: 3em;
}




/* ----------------------- SIDE NAVBAR ----------------------- */

.wrapper {
    position: absolute;
    width: 17em;
    height: 100%;
    top: 0;
    overflow: hidden;
}

.sidebar {
    position: fixed;
    background: #89BAD9;
    width: 13em;
    height: 100vh;
    font-weight: 400;
    font-size: 1.2em;
    padding-bottom: 6em;
    z-index: 9;
}

h2 a {
    color: black;
    font-size: 1.1em;
    font-weight: 600;
    width: 100%;
    display: block;
    padding: 0.75em 1em;
    text-transform: uppercase;
    margin-top: 0.6em;
    text-align: center;
    text-decoration: none;
}

.header a {
    text-decoration: none;
}

.navbarlogo {
    display: block;
    margin-left: auto; 
    margin-right: auto;
    width: 175px;
    height: 175px;
}

.sidebar h4 {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1.3em;
    font-weight: 400;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.menu-toggle {
	display: none;
	position: fixed;
	top: 2rem;
	right: 2rem;
	width: 60px;
	height: 60px;
	border-radius: 99px;
	background-color: #08428c;
	cursor: pointer;
}

.hamburger {
    position: relative;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: #FFF;
  transition-duration: .25s;
}

.hamburger > span::before {
  content: '';
  top: -8px;
}
.hamburger > span::after {
  content: '';
  top: 8px;
}
.menu-toggle.is-active .hamburger > span {
  transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}
.menu-toggle.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}


/* LIST STYLES */
.sidebar ul {
    display: block;
}

.sidebar li {
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
    width: 100%;
    font-family: 'Karla', sans-serif;
}

.sidebar li a {
    color: #000;
    display: block;
    font-size: 1.1em;
    padding: 1.05em 1em;
    position: relative;
}

.sidebar li a:hover {
    background-color: #76afd3;
}

.sidebar i {
    font-size: 1.3em;
    padding-right: 0.5em;
    width: 9em;
    display: inline;
    vertical-align: middle;
}


/* SOCIAL MEDIA FOOTER */
.wrapper .sidebar .social_media {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.wrapper .sidebar .social_media a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}




/* ----------------------- MAIN CONTENT ----------------------- */

.message {
    font-family: 'Inconsolata', sans-serif;
    text-align: right;
    padding-right: 1%;
    padding-top: 0.5%;
}

.content {
    padding-top: 12px;
}


/* ----------------------- INDEX PAGE ----------------------- */

.main_content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tagline {
    font-family: 'Inconsolata', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    align-items: center;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.main-description {
    font-family: 'Inconsolata', sans-serif;
}


/* BUTTONS */
.btn {
    box-sizing: border-box;
    appearance: none;
    background-color: #08428c;
    border: 2px solid #08428c;
    border-radius: 0.6em;
    color: #377eac;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

.btn a {
    text-decoration: none;
    color: white;
}


/* CONTAINER DIVS */
.examples {
    width: 80%;
    margin: 20px auto;
    padding: 5px;
}

.examples h5 {
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: 400;
    text-decoration: underline;
    text-align: center;
    font-family: "Karla", sans-serif;
}

.examples p {
    font-size: 1em;
    font-family: "Inconsolata", sand-serif;
    text-align: center;
    margin-bottom: 15px;
}

.examples h4 {
    font-size: 1.5em;
    font-family: "Inconsolata", sans-serif;
    margin-bottom: 10px;
    text-decoration: underline;
}

.examples li {
    font-size: 1em;
    font-family: "Inconsolata", sans-serif;
    font-weight: 300;
}


.example-one {
    background-color: #62a3cd;
    border-style: solid;
    border-width: 20px;
    border-color: #62a3cd;
    border-radius: 10px;
}

.example-two {
    background-color: #b0d1e5;
    border-style: solid;
    border-width: 20px;
    border-color: #b0d1e5;
    border-radius: 10px;
}


/* ----------------------- TASK LIST PAGE ----------------------- */
.btn-task {
    padding: 1.2em 1.2em;
}

.btn-task-sm {
    padding: 0.8em 0.8em;
    font-size: 0.7rem;
}

.btn-edit {
    background-color: #4f98c6;
    border-color: #4f98c6;
}

.btn-view {
    background-color: #c3dcec;
    border-color: #c3dcec;
}

.btn-delete {
    background-color: #89BAD9;
    border-color: #89BAD9;
}

.task-checkbox {
    display: none;
}

/* ----------------------- TASKS PAGE ----------------------- */

.task-description {
    font-size: 1em;
    font-family: "Inconsolata", sand-serif;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 20px;
}

.completed {
    text-decoration: line-through;
    color:#000;
}




/* ----------------------- MEDIA QUERIES ----------------------- */

@media screen and (max-width: 768px) {
    
    .main_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: auto;
        width: 100vw;
        padding: 10px;
    }

    .main-description {
        width: 80vw;
    }





    .menu-toggle {
        display: block;
    }

    .content {
        padding-top: 6rem;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left:-300px;
        height: 100vh;
        width: 100%;
        max-width: 300px;
        transition: 0.2s linear;
    }

    .sidebar.is-active {
		left: 0;
	}

}