<!-- Code partially taken from Dennis Ivy (see ReadMe for more details) -->

{% if request.user.is_authenticated %}
<p>{{request.user}}</p>
<a href="{% url 'account_logout' %}">Logout</a>
{% else %}
<a href="{% url 'account_login' %}">Login</a>
{% endif %}

<hr>
<h1>My Projects</h1>

<a href="{% url 'project_create' %}">Add project</a>


<table>
    <tr>
        <th>Item</th>
        <th></th>
    </tr>
    {% for project in projects %}
    <tr>
        <td>{{project.title}}</td>
        <td><a href="{% url 'project_detail' project.id %}">View</a></td>
        <td><a href="{% url 'project_update' project.id %}">Edit</a></td>
        <td><a href="{% url 'project_delete' project.id %}">Delete</a></td>
    </tr>
    {% empty %}
        <h3>No items in list</h3>
    {% endfor %}

    <p>Your projects: {{ projects.count }}</p>

</table>