{% extends "base.html" %}
{% load static %}
{% csrf_token %}

<!-- Code partially taken from Dennis Ivy (see ReadMe for more details) -->
{% block content %}
<div class="main_content">

    <div>
        <div>
            <div>
                {% for message in messages %}
                <div class="alert {% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show"
                    id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <hr>
    <h1 class="main-title heading">My To Do List</h1>

    <button class="btn btn-task"><a href="{% url 'task_create' %}">Add Task</a></button>

    <p>Total tasks: {{ tasks.count }}</p>

    <table>
        <tr>
            <th>Item</th>
            <th></th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td><span class="task-title {% if task.completed %}completed{% endif %}">{{task.title}}</span></td>
            <td><button class="btn btn-task-sm btn-view hoverable" data-popup="View your task and leave a comment"><a class="hoverable" data-popup="View your task and leave a comment" href="{% url 'task_detail' task.id %}">View</a></button>
            </td>
            <td><button class="btn btn-task-sm btn-edit hoverable" data-popup="Edit your task and mark as completed"><a class="hoverable" data-popup="Edit your task and mark as completed" href="{% url 'task_update' task.pk %}">Edit</a></button>
            </td>
            <td><button class="btn btn-task-sm btn-delete hoverable" data-popup="Delete your task from your list"><a class="hoverable" data-popup="Delete your task from your list" href="{% url 'task_delete' task.pk %}">Delete</a></button>
            </td>
        </tr>
        
        {% empty %}

        {% endfor %}

    </table>

    <div id="popup" class="popup"></div>
    <script src="{% static 'js/script.js' %}"></script>
</div>


{% endblock %}