{% extends "base.html" %}

<!-- Code partially taken from Dennis Ivy (see ReadMe for more details) -->
{% block content %}
<div class="main_content">
    <h1 class="main-title heading">Task: {{task}}</h1>
    <p class="task-description">Description: {{task.description}}</p>
</div>

<div class="main_content">
    <div class="comments">
        <h2>Comments</h2>
        {% for comment in comments %}
        <p class="comment">{{comment.user.username}}: {{ comment.text}} <span>{{ comment.created_at}}</span></p>
        <a href="{% url 'delete_comment' comment_pk=comment.pk %}"><i class="fa-solid fa-trash"></i></a>
        {% empty %}
        <p>No comments yet.</p>
        {% endfor %}
    </div>

    <div class="comments">
        <h3>Add a comment</h3>
        <form method="post" action="{% url 'add_comment_to_task' task.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}