{% extends "base.html" %}

<!-- Code partially taken from Dennis Ivy (see ReadMe for more details) -->
{% block content %}
<div class="main_content">
    <hr>
    <h1 class="main-title heading">My To Do List</h1>

    <button class="btn btn-task"><a href="{% url 'task_create' %}">Add Task</a></button>

    <table>
        <tr>
            <th>Item</th>
            <th></th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{task.title}}</td>
            <td><button class="btn btn-task-sm"><a href="{% url 'task_detail' task.id %}">View</a></button></td>
            <td><button class="btn btn-task-sm"><a href="{% url 'task_update' task.pk %}">Edit</a></button></td>
            <td><button class="btn btn-task-sm"><a href="{% url 'task_delete' task.pk %}">Delete</a></button></td>
        </tr>
        {% empty %}
        
        {% endfor %}

        <p>Total tasks: {{ tasks.count }}</p>

    </table>
</div>
{% endblock %}