{% load static %}

{% url 'home' as home_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A todo site with the tagline, 'Get it done, one task at a time'">
    <meta name="keywords" content="todo todolist list reminder organisation planning projectmanagement projectplanning project">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3a3dab9761.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>TaskNest</title>
</head>

<body>

    <div class="wrapper">
        <div class="sidebar">

            <h2 class="header"><a href="{% url 'index' %}">TaskNest</a></h2>

            <input type="checkbox" id="nav-toggle" name="nav-toggle">
            <label for="nav-toggle" class="nav-toggle-label">
                <i class="fa-solid fa-bars"></i>
            </label>
            
            <a href="{% url 'index' %}"><img src="./static/images/tasknestlogo.jpg" alt="A blue birds nest with 4 shield checkboxes." class="navbarlogo"></a>
            {% if request.user.is_authenticated %}
            <h4>{{request.user}}</h4>
            {% else %}
            <h4></h4>
            {% endif %}
            <ul>
                <li><a href="{% url 'task_list' %}"><i class="fa-solid fa-list-check"></i>Task List</a></li>
                {% if user.is_authenticated %}
                <li><a {% if request.path == logout_url %}active{% endif %} aria-current="page"
                        href="{% url 'account_logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a></li>
                {% else %}
                <li><a {% if request.path == signup_url %}active{% endif %} aria-current="page"
                        href="{% url 'account_signup' %}"><i class="fa-solid fa-user-plus"></i>Sign Up</a></li>
                <li><a {% if request.path == login_url %}active{% endif %} aria-current="page"
                        href="{% url 'account_login' %}"><i class="fa-solid fa-arrow-right-to-bracket"></i>Login</a></li>
                {% endif %}
                
            </ul>


            <div class="social_media">
                <a href="www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="www.instagram.com/"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="www.twitter.com"><i class="fa-brands fa-square-x-twitter"></i></a>
            </div>
        </div>
    </div>


    <main>
        {% block content%}
        {% endblock%}
    </main>


</body>

</html>