{% load static %}

{% url 'home' as home_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3a3dab9761.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>TaskNest</title>
</head>

<body>

    <div class="wrapper">
        <div class="sidebar">
            <h2><a href="">TaskNest</a></h2>
            <img src="./static/images/tasknestlogo.jpg" alt="A blue birds nest with 4 shield checkboxes." width="150"
                height="150">
            {% if request.user.is_authenticated %}
            <h4>{{request.user}}</h4>
            {% else %}
            <h4></h4>
            {% endif %}
            <ul>
                {% if user.is_authenticated %}
                <li><a {% if request.path == logout_url %}active{% endif %} aria-current="page"
                        href="{% url 'account_logout' %}">Logout</a></li>
                {% else %}
                <li><a {% if request.path == signup_url %}active{% endif %} aria-current="page"
                        href="{% url 'account_signup' %}">Sign Up</a></li>
                <li><a {% if request.path == login_url %}active{% endif %} aria-current="page"
                        href="{% url 'account_login' %}">Login</a></li>
                {% endif %}
                <li><a href="{% url 'task_list' %}"><i></i>Task List</a></li>
            </ul>


            <div class="social_media">
                <a href="www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="www.instagram.com/"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="www.twitter.com"><i class="fa-brands fa-square-x-twitter"></i></a>
            </div>
        </div>
    </div>


    <main>
        {% block content%}
        {% endblock%}
    </main>


</body>

</html>